@use "map"as*;
.red-btn{
    background-color: map-get($theme-color, "red" );
    padding-inline: 2rem;
    padding-block: 1rem;
    color: map-get($theme-color, "white" );
    border-radius: 99px;
}
.white-btn{
    padding-inline: 2rem;
    padding-block: 1rem;
    color: map-get($theme-color, "black" );
    background-color: map-get($theme-color, "white" );
    border-radius: 99px;
}
.Order,.demo{
    font-size: map-get($fonts, "14" );
    line-height: 24px;
    font-family:SemiBold ;
}