

$theme-color:(
   "red":#FF2626,
   "pink":#FFCECE,
   "black":#171717,
   "white":#ffffff,
   "sucess":rgba(21, 227, 21, 0.621),
   "gray":#888888,
   "dark-black":#000000
);

$fonts:(
"14":14px,
"81":81px,
"16":16px,
"54":54px,
"24":24px,
"36":36px,
"62":62px,
"68":68px,
);

$points:(
    tablet:768px , mobile:576px,big-tablet:992px
);